@model StudentMS.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h4>Student Information</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.StudentID)

        <div class="mb-3 row">
            <label for="Name" class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Name)</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Age" class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Age)</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Degree" class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Degree)</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Status" class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Status)</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="mt-3">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

